.Server {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.QRReader {
  max-width: 20rem;
  margin: 2.5rem auto;
}

.TOTP {
  margin: 2.5rem auto;
}

.TOTPCode {
  color: #001331;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.15rem;
  line-height: 1.25;
}

.TOTPSpinner {
  display: block;
  width: 4rem;
  margin: 1rem auto 0.5rem;

  svg {
    display: block;
    width: 100%;
  }

  path {
    stroke-linecap: round;
    fill: none;
  }

  path:first-of-type {
    stroke-width: 3.5;
    stroke: #ecedef;
  }

  path:last-of-type {
    stroke-width: 2.5;
    stroke: #00f;
  }
}