.Server {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.QRReader {
  max-width: 20rem;
  margin: 2.5rem auto;
}

.TOTP {
  color: #001331;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.15rem;
  line-height: 1.25;
  margin: 2.5rem auto;
}